html {
  font-family: sans-serif;
  max-width: 45em;
  margin: 1em;
  background-color: beige;
}

p {
  line-height: 1.4em;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.3em;
  color: darkred;
  border-bottom: 1px solid red;
}

sup {
  line-height: 0;
}

th {
  text-align: left;
}

th,
td {
  vertical-align: baseline;
}

h1#logo {
  font-family: serif;
  font-style: italic;
  font-size: 5em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

a:link {
  color: navy;
}

.date {
  color: grey;
  font-size: 80%;
}

.blue-box {
  background-color: lightblue;
}

.gray-box {
  background-color: #ddc;
}

.green-box {
  background-color: lightgreen;
}

.orange-box {
  background-color: sandybrown;
}

.red-box {
  background-color: pink;
}

.round-box {
  border-radius: 15px;
  padding: 3px 20px 3px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu {
  align-items: center;
  border-bottom: 1px solid black;
  columns: 2;
  line-height: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.menu li {
  border-bottom: 5px solid transparent;
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

.menu li.active {
  border-bottom: 5px solid black;
  color: darkred;
  width: max-content;
}

@media (min-width: 600px) {
  .menu {
    display: flex;
    justify-content: space-between;
  }

  .menu li {
    display: inline-block;
  }
}
